<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>Home</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>
    </head>
    <body><header>
            <nav class="navbar navbar-expand-lg" style="background-color:#3c3434">
                <div class="container">
                    <!-- Navbar brand -->
                    <a class="navbar-brand me-2" href="Home">
                        <img
                            src="https://firebasestorage.googleapis.com/v0/b/administracion-de-bd-1eabb.appspot.com/o/logo-computer%20(3).png?alt=media&token=1f1d8ff3-adf9-48d4-a222-790541726f26"
                            height="16"
                            alt="MDB Logo"
                            loading="lazy"
                            style="margin-top: -1px; height: 45px; width: 45px"
                            />
                    </a>
                    <button
                        data-mdb-collapse-init
                        class="navbar-toggler"
                        type="button"
                        data-mdb-target="#navbarButtonsExample"
                        aria-controls="navbarButtonsExample"
                        aria-expanded="false"
                        aria-label="Toggle navigation"
                        >
                        <i class="fas fa-bars"></i>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarButtonsExample">
                        <!-- Left links -->
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a style="color: white"  class="nav-link" href="#"><strong>DataSolutions</strong></a>
                            </li>
                        </ul>
                        <div class="d-flex align-items-center">
                            <button style="background: none; color: white; border: none" data-mdb-ripple-init type="button">
                                Cartegorías
                            </button>
                            <button style="background: none; color: white; border: none" data-mdb-ripple-init type="button">
                                Productos
                            </button>
                            <button style="background: none; color: white; border: none" data-mdb-ripple-init type="button">
                                Sobre nosotros
                            </button>
                            <button style="background: none; color: white; border: none" data-mdb-ripple-init type="button">
                                Ubicaciones
                            </button>
                            <button style="background: none; color: white; border: none" data-mdb-ripple-init type="button">
                                Contáctenos
                            </button>
                            <a href="Login">
                                <button style="background: none; color: white; border: none" data-mdb-ripple-init type="button">
                                    Iniciar Sesión
                                </button></a>
                            <button data-mdb-ripple-init type="button" class="btn btn-primary me-3" style="background-color:   #c24434; border-color:  #c24434">
                                Registrate
                            </button>
                        </div>
                    </div>
                </div>
            </nav>
            <div
                class="p-5 text-center bg-image"
                style="
                background-image: url('https://firebasestorage.googleapis.com/v0/b/administracion-de-bd-1eabb.appspot.com/o/laptops--technologi---colors-and-smarphones-e-comm%20(1).png?alt=media&token=8f5482bb-4483-4b04-a859-530c0bb97d21');
                height: 500px;
                width: auto;
                margin-top: auto;
                "
                >
                <div class="mask" style="background-color: rgba(0, 0, 0, 0.6); height: 400px">
                    <div class="d-flex justify-content-center align-items-center h-100">
                        <div class="text-white">
                            <h1 class="mb-3">DataSolutions</h1>
                            <h4 class="mb-3">Bienvenido a la tienda virtual de tecnología más grande de Costa Rica</h4>
                            <a data-mdb-ripple-init class="btn btn-outline-light btn-lg" href="#!" role="button"
                               >COMPRAR</a
                            >
                        </div>
                    </div>
                </div>
            </div></Br>
            <h3 style="text-align: center;">Conoce nuestros productos</h3>
            </Br>
            <div id="carouselExampleControls" class="carousel slide mx-auto" data-bs-ride="carousel" style="width: 50%; height: 50vh;">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img style="height: 400px; text-align: center" src="https://firebasestorage.googleapis.com/v0/b/administracion-de-bd-1eabb.appspot.com/o/Mcbook.jpg?alt=media&token=425bb003-a761-4fc5-be40-ba2c057b7bec" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img style="height: 400px" src="https://firebasestorage.googleapis.com/v0/b/administracion-de-bd-1eabb.appspot.com/o/Iphone%2015.jpeg?alt=media&token=981dfab7-8705-4c46-8ccd-ce6e0698eb70" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img style="height: 400px; width: auto" src="https://firebasestorage.googleapis.com/v0/b/administracion-de-bd-1eabb.appspot.com/o/Audifonos.jpg?alt=media&token=55ddd5e3-94bf-4de6-9c4e-e99d83b7165e" class="d-block w-100" alt="...">
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
            </header></Br></Br></Br>
            <footer style="text-align: center; background-color: #D5DBDB">

                <div class="container p-4 pb-0">
                    <div class="container text-center">
                        <form action="">
                            <div class="row justify-content-center">
                                <div class="col-md-6 col-12 mb-4 mb-md-0">
                                    <p class="pt-2">
                                        <strong>Suscribete a nuestro Newsletter</strong>
                                    </p>

                                    <div data-mdb-input-init class="form-outline mb-4">
                                        <input type="email" id="form5Example22" class="form-control" placeholder="Email" />
                                    </div>


                                    <div class="d-grid gap-2">
                                        <button data-mdb-ripple-init type="button" class="btn btn-primary mb-4" style="background-color:   #c24434; border-color:  #c24434">
                                            Suscribir
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div> 
                </div>

                <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05);">
                    © 2024Copyright:
                    <a class="text-body">DataSolutions</a>
                </div>

            </footer>
    </body>
</html>
